@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-red: #f45b26;
  --color-black: #091413;
  --color-white: #fffdeb;
}

html.light {
  background-color: var(--color-white);
  color: var(--color-black);
}

html.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

* {
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease;
}
